@font-face {
    font-family: Coolvetica;
    font-style: normal;
    src: url(coolvetica\ compressed\ hv.otf);
}

@font-face {
    font-family: Coolvetica2;
    font-style: italic;
    src: url(coolvetica\ condensed\ rg.otf);
}

:root {
    --blanco: #fff;
    --oscuro: #000;
    --gris: #cccccc;
    --verdefriooscuro: #1A4930;
    --verdefrioclaro: #256845;
    --verdeoliva: #4D6625;
    --crudo: #D1BE50;
    --titulos: 'Coolvetica', cursive;
    --subtitulos: 'Coolvetica2', cursive;
    --parrafos: 'Arial', sans-serif;
}

html {
    box-sizing: border-box;
    /*1rem = 10px*/
    font-size: 62.5%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

/*Globales*/
h1, h2 {
    font-family: var(--titulos);
}

h3, h4, p, a {
    font-family: var(--parrafos);
}

.ocultar {
    display: none;
}

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}


@keyframes desplazamiento {

    /*desplazamiento incial*/

    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

/*encabezado*/
.encabezado {
    background-image: url(../assets/pampa1.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 70rem;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
}

@media(min-width: 768px) {
    .encabezado {
        background-attachment: fixed;
    }
}

.encabezado::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}

.logo {
    margin-top: 4rem;

}

.logo img {
    float: left;
    left: unset;
    color: var(--blanco);
    height: 170px;
    width: 250px;
}

.contenido-navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 3;
}

.navegacion {
    position: absolute;
    left: 1.5rem;
    padding: 0rem;
    top: 200px;
    animation: desplazamiento .5s ease-in-out;
}

@media(min-width: 768px) {
    .ocultar {
        display: inline;
    }
}

.navegacion a {
    display: block;
    font-family: var(--parrafos);
    font-weight: bolder;
    font-size: 2.1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--blanco);
    transition: all .3s ease-in-out;
}

.navegacion a:hover {
    cursor: pointer;
    color: var(--oscuro);
    opacity: 30%;
}

@media(min-width: 768px) {
    .navegacion a {
        display: inline;
        padding: 3rem;
    }
}

@media(min-width: 768px) {
    .navegacion {
        position: relative;
        top: unset;
        margin-right: 2rem;
        width: auto;
        animation: unset;
    }
}

.hamburguesa {
    margin-top: 90px;
    margin: 60px;
}

.hamburguesa span {
    width: 6rem;
    height: 0.6rem;
    margin: 0.5rem;
    border: 1px solid white;
    background-color: var(--blanco);
    display: block;
}

@media(min-width: 768px) {
    .hamburguesa {
        display: none;
    }
}

.contenido-encabezado h1 {
    font-family: var(--subtitulos);
    color: var(--blanco);
    text-align: center;
    font-weight: 0;
    padding-top: 20rem;
    font-size: 6rem;
    font-weight: 200;
}

@media(min-width: 768px) {
    .contenido-encabezado h1 {
        font-family: var(--subtitulos);
        color: var(--blanco);
        text-align: center;
        font-weight: 0;
        padding-top: 2rem;
        font-size: 16rem;
        font-weight: 200;
    }

}

/*contenido about us*/
.aboutus {
    position: relative;
    align-items: center;
    padding: 2rem;
    height: auto;
    background-color: var(--crudo);
}

.aboutus p,
h3 {
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem;
    text-align: left;
}

.aboutus h4 {
    font-size: 2rem;
    text-align: center;
}

.aboutus p strong {
    font-style: italic;
}

@media(min-width: 768px) {
    .aboutus {
        padding-top: 6rem;
        padding-right: 12rem;
        height: 1040px;
    }

    .aboutus p,
    h3,
    h4 {
        font-family: var(--parrafos);
        margin: 3rem 8rem;
        font-size: 1.8rem;
    }

    .aboutus p {
        font-size: 1.8rem;
        padding-left: 11rem;
        padding-right: 5rem;
        line-height: 25px;
        letter-spacing: 0rem;
        text-align: justify;
    }

    .aboutus h3 {
        margin-top: 5rem;
        padding-bottom: 0rem;
        margin-left: 18rem;
    }

    .aboutus h4 {
        padding-top: 3rem;
        padding-left: 6rem;
    }
}

/*contenido Our Team*/
.ourteam {
    position: relative;
    background-color: var(--verdefriooscuro);
    justify-content: center;
    height: 1600px;
}

.contenidoourteam {
    margin: 4rem;
    margin-top: 0rem;
    align-items: center;
    justify-content: space-around;
}

.santiago img {
    align-items: center;
    margin-top: 5rem;
    width: 100%;
    margin-bottom: 0px;
}

.santiago h3 {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0px;
}

.santiago h4 {
    margin-top: 0px;
    text-align: center;

}

.santiago p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 2rem;
    margin-top: 0px;
}

.nicolas img {
    float: inline-start;
    width: 100%;
    margin-top: 5rem;
    margin-bottom: 0px;
}

.nicolas h3 {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0px;
}

.nicolas p {
    font-size: 1.8rem;
    text-align: justify;
    margin: 2rem;
    margin-top: 0px;

}

.ourteam h3 {
    font-size: 2rem;
}

@media(min-width: 768px) {
    .ourteam {
        height: 1000px;
        width: 100%;
    }

    .contenidoourteam {
        display: flex;
        justify-content: center;
    }

    .santiago img {
        margin-left: 17rem;
        margin-top: 17rem;
        width: 68%;
    }

    .santiago h3 {
        margin-left: 16rem;
        text-align: left;
        font-size: 2rem;
        padding-bottom: 0px;
    }

    .santiago h4 {
        margin-left: 13rem;
        padding-top: 0px;
        font-weight: lighter;
        font-size: 1.5rem;
    }

    .santiago p {
        text-align: justify;
        margin-right: 1rem;
        margin-left: 17rem;
        font-weight: lighter;
        line-height: 20px;
    }

    .nicolas img {
        margin-top: 19rem;
        margin-left: 8rem;
        width: 58%;
    }

    .nicolas h3 {
        margin-left: 7rem;
        text-align: left;
        font-size: 2rem;
    }

    .nicolas p {
        text-align: justify;
        margin-top: 4rem;
        margin-right: 20rem;
        margin-left: 8rem;
        font-weight: lighter;
        line-height: 20px;
    }
}

/*contenido Services*/
.services {
    height: auto;
    margin-top: 0rem;
}

.contenidoservices {
    background-color: var(--crudo);
    position: relative;
    align-items: center;
    font-family: Arial;
    padding: 2rem;
}

.contenidoservices h3 {
    text-align: left;
    font-family: var(--subtitulos);
    font-weight: lighter;
    font-size: 3rem;
    padding-top: 2rem;
    margin-left: 0.5rem;
}

.contenidoservices h4 {
    text-decoration: underline;
    font-weight: bolder;
    margin-left: 1.5rem;
    font-size: 2rem;
    padding-bottom: 0px;

}

.contenidoservices p {
    padding-top: 0px;
    margin: 1.5rem;
    font-size: 2rem;
    padding-bottom: 4rem;
}

@media(min-width: 768px) {
    .services {
        margin-top: -3rem;
    }

    .contenidoservices {
        height: auto;
        padding: 0rem;
        padding-bottom: 5rem;
    }

    .contenidoservices h3 {
        padding-left: 20.5rem;
        padding-top: 8rem;
        font-size: 3rem;
    }

    .contenidoservices h4 {
        font-size: 1.8rem;
        margin: 3rem 8rem;
        padding-left: 13rem;
        padding-bottom: 0px;
    }

    .contenidoservices p {
        margin: 3rem 8rem;
        font-size: 1.8rem;
        line-height: 25px;
        letter-spacing: 0rem;
        padding-top: 0px;
        padding-left: 13rem;
        padding-right: 16rem;
        text-align: justify;
    }
}

/*contenido Contact*/
.contact {
    margin-top: -1.5rem;
    position: relative;
    height: 450px;
    background-color: var(--verdefriooscuro);
}

.contenidocontact {
    margin-left: 3rem;
    padding-top: 1rem;
    align-items: center;
}

.texto-contact {
    padding: 0;
}

.texto-contact h4 {
    font-family: var(--subtitulos);
    font-weight: lighter;
    font-size: 3rem;
}

.texto-contact p {
    font-family: var(--parrafos);
    margin-top: -2rem;
    font-size: 1.2rem;
}

.formulario-contact {
    padding-top: 1.2rem;
    padding-right: -1rem;
}

.formulario-contact input {
    height: 40px;
    width: 90%;
    font-family: var(--subtitulos);
    padding: 1rem 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--oscuro);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    outline: none;
    padding-left: 1rem;
}

.formulario-contact textarea {
    height: 60px;
    width: 90%;
    font-family: var(--subtitulos);
    padding: 1rem 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--oscuro);
    border-radius: 0.3rem;
    font-size: 1.2rem;
    outline: none;
    padding-left: 1rem;
    resize: none;
}

.btn-contact {
    width: 20%;
    font-family: var(--parrafos);
    font-weight: lighter;
}

.btn-contact input {
    font-family: var(--subtitulos);
    padding: 0rem;
    font-size: 1.8rem;
    text-align: center;
    cursor: pointer;
    transition: color .3s ease-in-out;
}

.btn-contact input:hover {
    cursor: pointer;
    color: var(--verdefrioclaro);
    opacity: 70%;
}

@media(min-width: 768px) {
    .contact {
        height: 600px;
        margin-top: -3rem;
        position: relative;
    }

    .contenidocontact {
        justify-content: center;
    }

    .texto-contact h4 {
        font-size: 3rem;
        padding-top: 8rem;
        padding-left: 10rem;
    }

    .texto-contact p {
        padding-top: 1rem;
        font-size: 1.8rem;
        padding-left: 18rem;
    }

    .formulario-contact {
        width: 90%;
        align-items: center;
        margin-left: 18rem;
        padding-right: 5rem;
    }

    .formulario-contact input {
        padding: 1rem 0.5rem;
        margin-bottom: 1rem;
        border: 1px solid var(--oscuro);
        border-radius: 0.3rem;
        font-family: var(--subtitulos);
        font-size: 1.8rem;
        outline: none;
        padding-left: 2.3rem;
    }

    .formulario-contact textarea {
        height: 6rem;
        margin-bottom: 1rem;
        border: 1px solid var(--oscuro);
        border-radius: .3rem;
        font-family: var(--subtitulos);
        padding-top: 1rem;
        padding-left: 2rem;
        font-size: 1.8rem;
        outline: none;
        resize: none;
    }

    .btn-contact {
        width: 100px;

    }

    .btn-contact input {
        font-family: var(--subtitulos);
        padding: 0rem;
        font-size: 2rem;
        text-align: center;
        transition: color .3s ease-in-out;
    }

    .btn-contact input:hover {
        cursor: pointer;
        color: var(--verdefrioclaro);
        opacity: 60%;
    }

}

/*contenido Jobs*/
.jobs-news {
    position: relative;
    height: auto;
    width: 100%;
    margin-top: -1rem;
}

.acordeon .jobs {
    background-color: var(--crudo);
    margin-bottom: -1rem;
    padding: 1rem;
    cursor: pointer;
}

.acordeon .news {
    background-color: var(--verdefriooscuro);
    padding: 1rem;
    cursor: pointer;
}

.acordeon h3 {
    font-family: var(--subtitulos);
    font-weight: lighter;
    font-size: 3rem;
    text-align: center;
}

.acordeon h3:hover {
    cursor: pointer;
    color: var(--oscuro);
    opacity: 50%;
}

.acordeon p {
    font-family: var(--parrafos);
    text-align: center;
    font-size: 1.2rem;
}

.acordeon .contenido {
    display: none;
    padding: 10px;
}

.acordeon .contenidonews {
    display: none;
    padding: 10px;
}

.contenido.desplegado {
    transition: all .3s ease-in-out;
    display: block;
}

.contenidonews.desplegado {
    transition: all .3s ease-in-out;
    display: block;
}

/*contenido Footer*/
.footer {
    height: auto;
    width: 100%;
    margin-top: -4rem;
}

.contenido-footer {
    background-color: var(--crudo);
    padding-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logofooter {
    margin-top: -4rem;
    padding-left: 2.3rem;
    width: 50%;
}

.logofooter img {
    width: 22%;
    filter: brightness(0%) drop-shadow(0 0 0 var(--verdefriooscuro));
}

.redes {
    padding-left: 10.5rem;
    margin-top: -4rem;
    display: flex;
    width: 50%;
}

.redes a {
    font-size: 1.8rem;
    padding: 1rem;
    color: var(--oscuro);
}

.redes a:hover {
    cursor: pointer;
    color: var(--verdefriooscuro);
    opacity: 80%;
}

@media(min-width: 768px) {
    .logofooter {
        margin-left: 17.6rem;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }

    .logofooter img {
        width: 14%;
    }

    .redes {
        margin-left: 36rem;
    }

    .redes a {
        font-size: 3rem;
        padding: 2rem;
    }

    .redes a:hover {
        cursor: pointer;
        color: var(--verdefriooscuro);
        opacity: 80%;
    }
}