@font-face{
    font-family: Coolvetica;
    font-style: normal;
    src: url(coolvetica\ compressed\ hv.otf);
}
@font-face{
    font-family: Coolvetica2;
    font-style: italic;
    src: url(coolvetica\ condensed\ rg.otf);
}
:root{
    --blanco:#fff;
    --oscuro:#000;
    --gris:#cccccc; 
    --verdefriooscuro:#1A4930;
    --verdefrioclaro:#256845;
    --verdeoliva:#4D6625;
    --crudo:#D1BE50;
    --titulos:'Coolvetica', cursive;
    --subtitulos:'Coolvetica2', cursive;
    --parrafos:'Arial', sans-serif;
}

html{
    box-sizing: border-box;
     /*1rem = 10px*/
    font-size: 62.5%;
}

*,*::after, *::before{
    box-sizing: inherit;
}

/*Globales*/
h1, h2{
    font-family: var(--titulos);
}

h3, h4, p, a{
    font-family: var(--parrafos);
}
.ocultar{
    display: none;
}
.contenedor{
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}


@keyframes desplazamiento {

    /*desplazamiento incial*/

    0%{
        transform: translateX(-100%);
    }

    100%{
        transform: translateX(0);
    }
}

/*encabezado*/
.encabezado{
    background-image: url(../assets/pampa1.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 70rem;
    position: relative;
    z-index: 1;
}
.encabezado::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.3);
    z-index: -1;
}
.logo{
    margin-top: 4rem;
    
}
.logo img{
    float: left;
    left: unset;
    color: var(--blanco);
    height: 170px;
    width: 250px;
}
.contenido-navegacion{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navegacion{
    position: absolute;
    left: 2rem;
    top: 200px;
    animation: desplazamiento .5s ease-in-out;
}

@media(min-width: 768px){
    .ocultar{
        display: inline;
    }
}

.navegacion a{
    display: block;
    font-family: var(--parrafos);
    font-weight: bolder;
    font-size: 2.1rem;
    padding: 0.5rem;
    text-decoration: none;
    color: var(--blanco);
    transition: all .3s ease-in-out;
}
.navegacion a:hover{
    cursor: pointer;
    color: var(--oscuro);
    opacity: 30%;
}

@media(min-width: 768px){
    .navegacion a{
        display: inline;
        padding: 3rem;
    }
}

@media(min-width: 768px){
     .navegacion{
        position: relative;
        top: unset;
        margin-right: 2rem;
        width: auto;
        animation: unset;
    }
}

.hamburguesa{
    margin-top: 90px;
    margin: 60px;
}

.hamburguesa span{
    width: 6rem;
    height: 0.6rem;
    margin: 0.5rem;
    border: 1px solid white;
    background-color: var(--blanco);
    display: block;
}

@media(min-width: 768px){
    .hamburguesa{
        display: none;
    }
}
.contenido-encabezado h1{
    font-family: var(--subtitulos);
    color: var(--blanco);
    text-align: center;
    font-weight: 0;
    padding-top: 12rem;
    font-size: 6rem;
    font-weight: 200;
}
@media(min-width: 768px) {
    .contenido-encabezado h1{
        font-family: var(--subtitulos);
        color: var(--blanco);
        text-align: center;
        font-weight: 0;
        padding-top: 2rem;
        font-size: 16rem;
        font-weight: 200;
    }

}

/*contenido about us*/
.aboutus{
    position: absolute;
    align-items: center;
    padding: 2rem;
    height: 1700px;
    background-color: var(--crudo);
}
.aboutus p, h3{
    padding: 1rem;
    font-size: 2rem;
    margin: 1rem;
    text-align: left;
}
.aboutus h4{
    font-size: 2rem;
    text-align: center;
}
.aboutus p strong{
    font-style: italic;
}
@media(min-width: 768px) {
    .aboutus{
        height: 800px;
    }
    .aboutus p, h3, h4{
        font-family: var(--parrafos);
        margin: 3rem 8rem;
        font-size: 1.8rem;
    }
    .aboutus p{
        font-size: 1.8rem;
        padding: 0rem;
        line-height: 25px;
        letter-spacing: 0rem;
    }
    .aboutus h3{
        margin-top: 5rem;
        padding-bottom: 0rem;
        margin-left: 6.85rem;
    }
    .aboutus h4{
        padding-top: 3rem;
    }
}
/*contenido Our Team*/
.ourteam{
    margin-top: 170rem;
    display: block;
    background-color: var(--verdefriooscuro);
    position: relative;
    justify-content: center;
    height: 1500px;
}
.ourteam img{
    justify-content: space-around;
    margin: 7rem 7rem;
    height: 284px;
    width: 226px;
    margin-bottom: 0px;
}
.ourteam h3, p{
    margin-top: 0rem;
    font-size: 1.5rem;
    margin: 1rem 3rem;
    text-align: center;
    padding: 0rem;
}
.ourteam h3{
    font-size: 2rem;
}
@media(min-width: 768px) {
    .ourteam{
        margin-top: 80rem;
        height: auto;
        width: 100%;
}
    .contenidoourteam{
        display: flex;
        justify-content: space-between;
        flex: 0 0 0 calc(50%);
    }
    .santiago{
        display: grid;
    }
    .santiago img{
        margin-top: 10rem;
        width: 350px;
        height: 480px;
        margin-left: 27rem;
    }
    .santiago h3{
        text-align: left;
        margin-top: 3.5rem;
        margin-left: 27rem;
        margin-bottom: 0;
    }
    .santiago h4{
        margin-top: 0px;
        font-weight: lighter;
        margin-left: 27rem;
        font-size: 1.4rem;
    }
    .santiago p{
        text-align: left;
        margin-top: 0;
        margin-left: 27rem;
        margin-right: 6rem;
    }
    .nicolas{
        display: grid;
    }
    .nicolas img{
        margin-top: 10rem;
        margin-left: 2rem;
        width: 350px;
        height: 480px;
        float: left;
    }
    .nicolas h3{
        text-align: left;
        margin-top: 3.5rem;
        margin-left: 2rem;
        margin-bottom: 0px;
      
    }
    .nicolas p{
        text-align: left;
        margin-top: 2rem;
        margin-left: 2rem;
        margin-right: 26rem;
    }
    
    
   
    
}